
build-Client-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/.qmake.stash
build-Client-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/Client.exe
build-Client-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/main.o
build-Client-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/client.o
build-Client-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_client.cpp
build-Client-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_client.o
build-Client-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_predefs.h
build-Client-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile
build-Client-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Debug
build-Client-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Release
build-Client-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_client.h
build-Server-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/.qmake.stash
build-Server-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/main.o
build-Server-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_predefs.h
build-Server-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_server.o
build-Server-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_server.cpp
build-Server-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/Server.exe
build-Server-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/server.o
build-Server-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile
build-Server-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Debug
build-Server-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Release
build-Server-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_server.h
build-Server-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersdomagojappdatalocaltemptmpd2tdim
Client/Client.pro.user
Server/Server.pro.user
